.blog-panel
  .layui-container
    ul.layui-clear
      
      li
        a(href="") NodeJs
      li
        a(href="") Vue
      li
        a(href="") React
      li
        a(href="") Angular
      //- li
      //-   a(href="") jQuery
      
      
    .blog-column-right
      a(href="/article").layui-btn 发表文章